<div id="footer" class="clearfix">
  
  <div id="footer-wrapper">

    
    <div class="grid col-940">

      <div class="grid col-540">
              </div><!-- end of col-540 -->

      <div class="grid col-380 fit">
        <ul class="social-icons"></ul><!-- .social-icons -->      </div><!-- end of col-380 fit -->

    </div><!-- end of col-940 -->
    
    <div class="grid col-300 copyright">
      &copy; 2016<a href="/" title="Мониторинг бойлерной">
        Мониторинг бойлерной      </a>
    </div><!-- end of .copyright -->

    <div class="grid col-300 scroll-top"><a href="#scroll-top" title="scroll to top">&uarr;</a></div>

    <div class="grid col-300 fit powered">
      <a href="http://cyberchimps.com/responsive-theme/" title="Responsive Theme">
        Responsive Theme</a>
      powered by <a href="http://wordpress.org/" title="WordPress">
        WordPress</a>
    </div><!-- end .powered -->

  </div><!-- end #footer-wrapper -->

  </div><!-- end #footer -->
