  <div class="skip-container cf">
    <a class="skip-link screen-reader-text focusable" href="#content">&darr; Skip to Main Content</a>
  </div><!-- .skip-container -->

  <div id="header">
    
      <div id="logo">
        <span class="site-name"><a href="/" title="Мониторинг бойлерной" rel="home">Мониторинг бойлерной</a></span>
        <span class="site-description"></span>
      </div><!-- end of #logo -->

    
        <div class="main-nav"><ul id="menu-main_header_menu" class="menu"><li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a href="/">Домой</a></li>
<li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-15"><a href="#">Температура</a>
<ul class="sub-menu">
  <li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-69"><a href="/plot.cgi?plot=t&days=3">Температура за 3 дня</a></li>
  <li id="menu-item-68" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-68"><a href="/plot.cgi?plot=t&days=5">Температура за 5 дней</a></li>
  <li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67"><a href="/plot.cgi?plot=t&days=10">Температура за 10 дней</a></li>
  <li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a href="/plot.cgi?plot=t&days=20">Температура за 20 дней</a></li>
  <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="/plot.cgi?plot=t&days=30">Температура за 30 дней</a></li>
  <li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64"><a href="/plot.cgi?plot=t&days=365">Температура за год</a></li>
</ul>
</li>
<li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16"><a href="#">Давление</a>
<ul class="sub-menu">
  <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="/plot.cgi?plot=p&days=3">Давление за 3 дня</a></li>
  <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="/plot.cgi?plot=p&days=5">Давление за 5 дней</a></li>
  <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="/plot.cgi?plot=p&days=10">Давление за 10 дней</a></li>
  <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a href="/plot.cgi?plot=p&days=20">Давление за 20 дней</a></li>
  <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="/plot.cgi?plot=p&days=30">Давление за 30 дней</a></li>
  <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="/plot.cgi?plot=p&days=365">Давление за год</a></li>
</ul>
</li>
<li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-45"><a href="#">Дополнительно</a>
<ul class="sub-menu">
  <li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a href="/get_data.cgi">Забрать показания</a></li>
  <li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="/get_raw_mail.cgi">Последние 10 писем</a></li>
</ul>
</li>
</ul></div>
    
  </div><!-- end of #header -->
