<TMPL_INCLUDE name="body_start.tmpl">

<div id="container" class="hfeed">

  <TMPL_INCLUDE name="header.tmpl">

  <div id="wrapper" class="clearfix" style="background-color:white; padding:20px">
    <div id="content-full" class="grid col-940">
      <div id="post-13" class="post-13 page type-page status-publish hentry">
        <div class="post-entry">

          <TMPL_VAR NAME=INFO>

          <table  style="width:100%; "  class="easy-table easy-table-default " border="0">
            <tbody>
              <TMPL_LOOP NAME=TABLE_ROWS><tr><TMPL_VAR NAME=ROW></tr></TMPL_LOOP NAME=TABLE_ROWS>
            </tbody>
          </table>

        </div><!-- end of .post-entry -->
  
      </div> <!-- end of post-13 -->
    </div> <!-- end of content-full -->
  </div> <!-- end of wrapper -->
</div> <!-- end of container -->

<TMPL_INCLUDE name="footer.tmpl">
<TMPL_INCLUDE name="body_end.tmpl">

