  <div id="widgets" class="home-widgets">

      <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="https://forecast.io/embed/#lat=54.527511&lon=52.810631&name=Бугульма&color=#00aaff&font=Georgia&units=si"> </iframe> 

      <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="https://forecast.io/embed/#lat=55.755053&lon=37.618502&name=Москва&color=#00aaff&font=Georgia&units=si"> </iframe> 

      <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="https://forecast.io/embed/#lat=52.383380&lon=4.638538&name=Haarlem&color=#00aaff&font=Georgia&units=si"> </iframe> 


  </div><!-- end of #widgets -->
